* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.container {
    display: block;
    width: 100%;
    height: fit-content;
    background-color: rgb(72, 122, 122);
    border: 2px solid red;
}

.exe {
    display: inline;
    width: 500px;
    height: 500px;
    /* border: 2px solid blue; */
    color: #fff;
}


#user-submit {
    display: block;
    border: 3px solid aqua;
    border-radius: 10px;
    font-size: 14px;
    margin-left: 224px;
}
input {
    width: inherit;
}
#sec-num {
    margin-left: 23px;
}
hr {
    background-color: black;
}
#multiply {
    display: inline;
    margin-left: 150px;
    background-color: rgb(110, 110, 187);
    color: #ffffff;
    font-size: 18px;
}
#divide {
    display: inline;
    background-color: rgb(110, 110, 187);
    color: #ffffff;
    font-size: 18px;
}

#ansText {
    display: block;
}

#submit-str,
#submit-text,
#submit_str {
    display: block;
    margin-left: 190px;
    background-color: rgb(110, 110, 187);
    color: #ffffff;
    font-size: 14px;
}

#input-text,
#input_text {
    margin-left:48px;
}
#submit-text {
    margin-left: 222px;
}