* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.container {
    display: block;
    width: 100%;
    height: fit-content;
    background-color: rgb(72, 122, 122);
    border: 2px solid red;
}

.exe {
    display: inline;
    width: 500px;
    height: 500px;
    /* border: 2px solid blue; */
    color: #fff;
}


#user-submit {
    display: block;
    border: 3px solid aqua;
    border-radius: 10px;
    font-size: 14px;
    margin-left: 224px;
}
input {
    width: inherit;
}
#sec-num {
    margin-left: 23px;
}
hr {
    background-color: black;
}
#multiply {
    display: inline;
    margin-left: 150px;
    background-color: rgb(110, 110, 187);
    color: #ffffff;
    font-size: 18px;
}
#divide {
    display: inline;
    background-color: rgb(110, 110, 187);
    color: #ffffff;
    font-size: 18px;
}

#ansText {
    display: block;
}

#submit-str,
#submit_word,
#submit-text,
#submit_str,
#submit_num,
#submit_numbers,
#submit-nums,
#submit_marks,
#submit_char {
    display: block;
    margin-left: 190px;
    background-color: rgb(110, 110, 187);
    color: #ffffff;
    font-size: 14px;
}

#input-text,
#input_text,
#input_word,
.input-nums,
.marks,
.numbers
#input_char {
    margin-left:48px;
}
#submit-text,
#submit_char {
    margin-left: 222px;
}

#user-submit {
    display: block;
    margin-left: 260px;

}

#submit_num {
    margin-left: 183px;
}

#final-exam {
    margin-right: 150px;
}